
html, body {
  min-width: 1200px;
  min-height: 1750px;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  padding: 15px;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
  outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}




.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;

  background-color: #eeeeee;
  min-height: 114px;
}

.main-navigation .container
{
  display: flex;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  margin-top: auto;
  width: 160px;
  height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  

  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-left: auto;

  min-width: 798px;
  min-height: 39px;

  list-style: none;
}

.site-navigation li {
  margin-right: 45px;
  position: relative;
}

.site-navigation li.actived::before {
  content: "";

  position: absolute;
  width: calc(100%);
  height: 2px;
  margin: 0 1px;
  top: 33px;

  background-color: #fb565a;
  
}

.site-navigation .cart-link  {
  margin-left: auto;
  margin-right: 0;
  padding-left: 43px;
  position: relative;

}

.cart-link::before {
  content: "";

  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 3px;
  top: 7px;
}

.site-navigation .catalog-link {
  margin-left: 3px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

main.container {
  width: 1440px;
  padding: 0;
}

.advantages {
  background-color: #eeeeee;

}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item{
  display: flex;

  text-align: left;
}

.advantage-item h3 {
  margin: 0;
  margin-top: 78px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.advantage-item p {
  margin-top: 27px;
  width: 362px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.advantage-item .button {
  width: 240px;
  height: 50px;
  margin-top: 22px;
}

.advantage-item-slide1 img {
  margin-right: 32px;
  margin-top: 17px;
}

.advantage-item-slide2 img {
  margin-left: -30px;
  margin-top: 0;
}

.advantage-item-slide3 img {
  margin-top: 18px;
  margin-left: -30px;
}

.advantage-item-slide3 h3 {
  width: 430px;
  letter-spacing: 0.6px;
}

.advantage-item-slide2 p {
  width: 420px;
}

.advantage-item-slide1 {
    display: none;
}

.advantage-item-slide2 {
    display: none;
}

.advantage-item-slide3 {
    display: flex;
}

.slider-buttons {
    list-style: none;
    display: flex;
    
    position: relative;
    bottom: 100px;
    left: 200px;
}

.slider-buttons li {
    position: relative;
    width: 18px;
    margin-right: 15px;
}

.slider-buttons .slider-button + label::before {
    content: "";
    
    position: absolute;
    
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #ffffff;
}

.slider-buttons .slider-button:checked + label::after {
    content: "";
    
    position: absolute;
    
    width: 4px;
    height: 4px;
    
    top: 5px;
    left: 5px;
    border: 2px solid #c1c1c1;
    border-radius: 6px;
    
    background-color: #ffffff;
}

.features-list {
  list-style: none;
  display: flex;
}

.features-item {
  text-align: left;
  width: 300px;
  margin-right: 100px;
  margin-top: 81px;

  background-color: #ffffff;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  margin: 20px auto 0 -1px;

}

.features-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  width: 260px;
}

.features-item .button {
  width: 160px;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 80px;
}

.features-item-apps .button {
  background-color: #00ca74;
}

.features-item-illustration .button {
  background-color: #efc84a;
}

.features-item-apps .button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  outline: none;
}

.features-item-apps .button:hover,
.features-item-apps .button:focus {
  background-color: #00bc6c;
  outline: none;
}

.features-item-illustration .button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  outline: none;
}

.features-item-illustration .button:hover,
.features-item-illustration .button:focus {
  background-color: #eab534;
  outline: none;
}

.main-line {
  background-color: #eeeeee;
  height: 2px;
  padding: 0;
}

.main-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.studio {
  text-align: left;
}

.studio h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

  width: 660px;
  margin: 0;
  margin-top: 74px;
}

.studio p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  width: 640px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 38px;
}

.studio b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  
  display: block;
  letter-spacing: 0.1px;
  width: 600px;
  margin: 0;
}

.studio ul {
  margin: 0;
  margin-top: 26px;
  padding-left: 36px;
  list-style: none;
}

.studio li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  margin-bottom: 24px;
  position: relative;
}

.studio-list .list-item::before {
  content: "";

  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -35px;

  background-color: #fb565a;
}

.statistics-img {
  width: 360px;
  height: 208px;
  margin-top: 40px;
}

.statistics b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  display: block;
  margin-top: 36px;
}

.data-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;

  display: flex;
  width: 360px;
}

.data-list h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;

  margin: 0;
  padding: 0;
  width: 120px;
}

.data-list sup {
  font-size: 25px;
  line-height: 45px;
  top: -15px;
}

.data-list p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
  text-align: left;
  
  margin: 0;
  margin-top: 11px;
  padding: 0;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  position: relative;

  min-height: 180px;
}

.partners-list::after {
  content: "";

  position: absolute;
  top: 65px;
  left: 579px;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners-item a {
  display: flex;
  opacity: 0.2;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 180px;
} 

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active{
  opacity: 0.1;
}

.partners-item:first-child a,
.partners-item:last-child a {
  width: 280px;
}

.partners-item img {
  margin: auto;
} 

.partners-item:first-child img {
  margin-left: 31px;
  margin-top: 61px;
}

.partners-item:last-child img {
  margin-right: 42px;
  margin-top: 52px;
} 

.main-line-vertical {
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.main-footer {
  width: 1440px;
  padding: 0;
  margin-bottom: 70px;
}

.footer-map {
  display: flex;
  width: 1440px;
  height: 416px;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  background-image: url(../img/map.jpg);
  background-size: 1440px 416px;
}

.footer-appointment {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  height: 310px;
  margin-top: 54px;
  margin-left: 140px;
  padding-left: 50px;
  padding-top: 30px;

  background-color: #ffffff;
}

.footer-appointment h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.footer-appointment-address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-align: left;

  margin-top: 25px;
  margin-left: 1px;
  margin-bottom: 0;
}

.footer-appointment-tel {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-align: left;

  margin-top: 19px;
  margin-left: 1px;
  margin-bottom: 36px;
}

.footer-appointment .button {
  display: block;
  box-sizing: border-box;
  width: 220px;
}

.img-marker {
  position: absolute;
  left: 682px;
  top: 34px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.footer-social ul {
  list-style:  none;
  margin: 0;
  padding: 0;

  width: 260px;
  display: flex;
  justify-content: space-between;
}

.social-network .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 78px;
  height: 78px;
  
  border-radius: 39px;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #e74246;
}

.social-button:active img {
  opacity: 0.3;
}

.footer-social .footer-social-column {
  width: 760px;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;

  display: block;
  margin-top: 5px;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;

  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.write-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-us input {
  font: inherit;
  background-color: transparent;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us textarea {
  font: inherit;
  background-color: transparent;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us input:hover {
  border: 2px solid #b4b9bb;
  border-radius: 3px;
}

.write-us textarea:hover {
  border: 2px solid #b4b9bb;
  border-radius: 3px;
}

.write-us input:focus {
  border: 2px solid #000000;
  border-radius: 3px;
}

.write-us textarea:focus {
  border: 2px solid #000000;
  border-radius: 3px;
}

.inner-page .footer-map {
  margin-top: 60px;
}

.inner-page h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  
  padding: 78px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  min-height: 241px;

  color: #000000;

  background-color: #eeeeee;
}

.filters {
  width: 260px;
  margin: 0;
  padding: 0;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  margin-top: 56px;

}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filters .filter-price {
  min-height: 210px;
}

.filter-price legend {
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

.filter-price .input-price-range {
  background-color: #eeeeee;
  box-sizing: border-box;
  height: 80px;
  margin-top: 48px;
  padding: 30px;
  padding-right: 20px;

  border-radius: 3px;

  display: flex;
}

.filter-price .price-from-to {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 14px;
}

.filter-price span {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.filter-price input[type=text] {
  box-sizing: border-box;
  width: 80px;
  height: 36px;
  margin-left: 12px;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-align: center;
  

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
}

.filters ul {
  list-style: none;
}

.filters .filters-grid {
  margin-top: 53px;
}

.filters-grid ul {
  display: flex;
  flex-direction: column;
  min-height: 104px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  margin-top: 14px;
}

.filters-grid li {
  position: relative;
}

.filters-grid label::before {
  content: "";

  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.png);
  left: -35px;
  top: -2px;
  opacity: 0.4;
}

.filter-grid:checked + label::before {
  content: "";

  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.png);
  left: -35px;
  top: -2px;
  opacity: 0.4;
}

.filter-grid:hover + label::before,
.filter-grid:focus + label::before {
  opacity: 1;
}

.filter-grid:hover + label,
.filter-grid:focus + label {
  color: #000000;
}

.filter-grid:disabled + label::before {
  opacity: 0.2;
}

.filter-grid:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.filters label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filters .filters-features {
  margin-top: 40px;
}

.filters-features ul {
  display: flex;
  flex-direction: column;
  min-height: 184px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  margin-top: 15px;
}

.filters-features li {
  position: relative;
}

.filter-features:hover + label::before,
.filter-features:focus + label::before {
  opacity: 1;
}

.filter-features:hover:checked + label::before,
.filter-features:focus:checked + label::before {
  opacity: 1;
}

.filter-features + label::before {
  content: "";

  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.png);
  left: -35px;
  top: 1px;
  opacity: 0.4;
}

.filter-features:checked + label::before {
  content: "";

  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.png);
  left: -35px;
  top: 1px;
  opacity: 0.4;
}



.filter-features:disabled + label::before {
  opacity: 0.2;
}

.filter-features:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.filter-features:hover + label,
.filter-features:focus + label {
  color: #000000;
}

.filter-button-submit {
  width: 260px;
  height: 50px;
  margin-top: 47px;
  padding-top: 16px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.filter-button-submit:hover,
.filter-button-submit:focus {
  background-color: #dfdfdf;
}

.filter-button-submit:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  outline: none;
}

.catalog {
  width: 760px;
}

.catalog .catalog-order-form {
  display: flex;
}

.catalog-order-form ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-order-form .price-type-name {
  width: 272px;
  min-height: 18px;
  margin-top: 56px;
  justify-content: space-between;
}

.catalog-order-form .up-down {
  width: 60px;
  height: 24px;
  margin-left: 28px;
  margin-top: auto;
}

.up-down li {
  position: relative;
  width: 30px;
}

.order-option-up-down + label::before{
  content: "";

  position: absolute;
  width: 11px;
  height: 10px;
  top: 8px;
  right: 0;
  background-image: url(../img/icon-up-dir.png);
  opacity: 0.2;
}

.order-option-down-up + label::before{
  content: "";

  position: absolute;
  width: 11px;
  height: 10px;
  top: 8px;
  right: 0;
  background-image: url(../img/icon-down-dir.png);
  opacity: 0.2;
}

.order-option-up-down:hover + label::before,
.order-option-up-down:focus + label::before {
  opacity: 0.6;
}

.order-option-down-up:hover + label::before,
.order-option-down-up:focus + label::before {
  opacity: 0.6;
}

.order-option-up-down:checked + label::before {
  opacity: 1;
}

.order-option-down-up:checked + label::before {
  opacity: 1;
}


.catalog h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  width: 400px;
  margin: 0;
  padding: 0;
  margin-top: 58px;
}

.catalog ul {
  list-style: none;
}

.catalog-order-form label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.order-option:hover + label,
.order-option:focus + label {
  color: rgba(0, 0, 0, 0.6);
}

.order-option:checked + label,
.order-option:active + label {
  color: #000000;
}

.catalog .catalog-list {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list .catalog-item {
  width: 360px;
  height: 615.5px;
  margin-bottom: 34px;
  margin-top: -1px;
}

.item-photo .browser {
  position: relative;
  z-index: 2;
  opacity: 0.12;
}

.item-photo .background-photo {
  position: relative;
  z-index: 1;
  margin-top: -8px;
}

.item-buy {
  position: relative;
  background-color: #eeeeee;
  text-align: center;

  display: flex;
  flex-direction: column;
  width: 360px;
  height: 231px;
  margin-top: -237px;
}

.item-buy .item-title {
  width: 360px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
}

.item-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.item-description {
  width: 230px;
  margin: 0 auto;
  margin-top: 16px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.item-buy .button {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  margin: auto auto;
  margin-bottom: 43px;
}

.catalog-item:hover .browser,
.catalog-item:focus .browser {
  opacity: 1;
}

.catalog-item:hover .item-buy,
.catalog-item:focus .item-buy {
  z-index: 2;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 28px;
}

.pagination-item {
  min-width: 50px;
  min-height: 50px;
  margin-right: 11.5px;

}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  min-width: 50px;
  min-height: 50px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  padding: 12px;
}

.pagination-item:last-child a {
  width: 260px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-list a:active {
  background-color: #d5d5d5;
  border: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);

  padding: 13px;
}

.pagination-item a.active {
  background-color: #ffffff;
  border-color: #dbdbdb;
}












input[type=range] {
  -webkit-appearance: none;
    width: 100%;
    margin-bottom: 0;
    background-color: #eeeeee;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #00CA74;
  border-radius: 0px;
  border: 0px solid #47FF0F;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 1px 1px #cccdcd;
  border: 0px solid #000000;
  height: 22px;
  width: 21px;
  border-radius: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00CA74;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #00CA74;
  border-radius: 0px;
  border: 0px solid #47FF0F;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 0px solid #000000;
  height: 22px;
  width: 21px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00CA74;
  border: 0px solid #47FF0F;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #00CA74;
  border: 0px solid #47FF0F;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 0px solid #000000;
  height: 22px;
  width: 21px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #00CA74;
}
input[type=range]:focus::-ms-fill-upper {
  background: #00CA74;
}